<div id="rotating-ads">
  <% Ad.rotating_sidebar.each do |ad| %>
    <div class="rotating-ad">
      <%= link_to image_tag(ad.image), ad.external_url, :title => ad.title, :target => "_blank" %>
    </div>
  <% end %>
</div>
