<li>
  <% if @menu.pages.length == 1 %>
    <%= link_to @menu.title, page_path(@menu.pages.first) %>
  <% elsif @menu.pages.length > 1 %>
    <span><%= link_to @menu.title, menu_path(@menu) %></span>
    <ul class="sub-menu">
      <% @menu.items.each do |page| %>
        <li><%= sub_menu_link(page) %></li>
      <% end %>
    </ul>
  <% end %>
</li>
