<ul id="main-menu">
  <li><%= link_to "Home", Page.home %></li>
  <% Menu.ordered.each do |menu| %>
    <% @menu = menu %>
    <%= render :partial => "menus/individual" %>
  <% end %>
</ul>

<br />

<%= link_to image_tag(Robotics::Application.config.first_logo, :width => "180"), "http://usfirst.org", :target => "_blank", :class => "left-offset" %>
