<nav>
<ul id="main-menu">
  <li><%= link_to "Home", Page.home %></li>
  <% Menu.ordered.each do |menu| %>
    <% @menu = menu %>
    <%= render :partial => "menus/individual" %>
  <% end %>
</ul>
</nav>

<br />

<%= link_to image_tag(image_path("frc_logo.png")), "http://usfirst.org", :target => "_blank", :class => "left-offset", :id => "first-logo" %>
