<%= content_for :title, "Site Map" %>

<%= link_to "Sitemap XML", sitemap_path(:xml) %>

<ul id="site-map-menu">
  <li><%= link_to "Home", Page.home %></li>
  <% Menu.alphabetical.each do |menu| %>
    <% @menu = menu %>
    <%= render :partial => "menus/individual" %>
  <% end %>
</ul>
