// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

table.dashboard {
  width: auto;
}

form input[type="text"].small-input {
  width: 50px;
}

table#ads-dashboard {
  table-layout: fixed;
  width: 300px;
  border-collapse: collapse;
  td {
    border: 1px solid #ccc;
  }
  td.image {
    width: 70px;
  }
}

fieldset[name="Page"], fieldset[name="Photo"] {
  padding-bottom: 40px;
}
