@import "youtube.css.scss";

@font-face {
	font-family: Bebas;
	src: url(/bebas.ttf);
}

@mixin image-right($width) {
  width: $width;
  margin: 15px;
  float: right;
  background-color: #111;
  text-align: center;
  padding-top: 10px;

  p {
    font-size: 90%;
    padding-bottom: 5px;
  }
}

$sidebar_width: 200px;
$link-colour: #aaf;

body, div, span, table, tbody, thead, tr, td, th, h1, h2, h3, h4, p, pre, a, blockquote, input, textarea {
  margin:  0px;
  padding: 0px;
  font-family: "Droid Sans", Arial, sans-serif;
}

img {
  border: 0px;
}

body {
  background: #000 image-url("main-background.png") no-repeat top center;
}

div#rotating-ads {
  margin: 10px;
  text-align: center;

  .rotating-ad {
    display: none;
    &:hover img {
      $shadow: 0px 0px 16px rgba(255, 255, 255, 0.3);
      @include box-shadow($shadow);
    }

    &.visible {
      display: block;
    }
  }
}

div#container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #fff;
  background: image-url("container-background.png") repeat-y top center;

  div#main-container {
    background: image-url("container-background-bright.png") no-repeat top center;
    width: 960px;
    margin: 0 auto;
    min-height: 400px;

    div#sidebar {
      float: left;
      width: $sidebar_width;
      background: image-url("border-sidebar.png") no-repeat top left;
      min-height: 500px;
      padding: 50px 0px 0px 20px;
    }

    div#content {
      float: left;
      width: 700px;
      min-height: 500px;
      padding-bottom: 50px;

      div#header {
        text-align: right;
        padding: 44px 0px 0px 0px;
        margin-bottom: 15px;
        padding-right: 10px;
        h2, h3 { font-family: Bebas; }
        h2 {
          margin-bottom: 4px;
          font-size: 60px;
        }
        h3 {
          font-size: 30px;
        }
      }
    }
  }
}

#homepage-image {
  $shadow: 0px 0px 9px rgba(255, 255, 255, 0.3);
  @include image-right(230px);
  @include box-shadow($shadow);
  @include border-radius(3px);
}

h3 {
  margin: 10px 0px;
}

h3.homepage-head {
  font-style: italic;
}

p + p {
  margin-top: 15px;
}

div#page-content {
  line-height: 140%;

  a:link { color: $link-colour; text-decoration: none; }
  a:visited { color: darken($link-colour, 15%); }
  a:active, a:hover  { color: darken($link-colour, 10%); text-decoration: underline; }
}

ul#main-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 35px;

  li a, span {
    color: #ddd;
    font-family: Bebas;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px 0px 3px 3px;

    &:hover, &:active, &:focus {
      $shadow: -10px 0px 5px -5px rgba(51, 153, 255, 0.6);
      @include box-shadow($shadow);
      color: #fff;
    }
  }

  > li {
    width: $sidebar-width - 20px;
    position: relative;
    text-align: right;

    ul.sub-menu {
      background: image-url("menu-bg.png");
      z-index: 3;
      margin: 0px; padding: 0px;
      display: none;
      position: absolute;
      top: -3px;
      list-style: none;
      text-align: left;
      left: $sidebar-width - 20px;
      padding: 10px;
      @include border-radius(0px 12px 12px 0px);

      li {
        padding: 0px;
        width: 230px;
        position: relative;
        a {
          font-size: 18px;
          display: block;
          padding-left: 3px;
        }
      }
    }

    &:hover, &:active, &:focus {
      ul.sub-menu {
        display: block;
      }
    }
  }
}

ul#sub-menu-page {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
}

div#bar {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  background-color: #222;
  @include background-gradient(#333, #222);
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.1));
  color: #eee;
  cursor: pointer;
  text-align: right;
  padding-top: 4px;
  font-size: 13px;

  &:hover {
    $shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 24px rgba(82, 168, 236, 0.6);
    @include box-shadow($shadow);
  }
}

div#slide-down {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 0px;
  z-index: 6;

  span.highlight a {
    color: $link-colour;
  }

  div#postings {
    display: none;
    width: 960px;
    margin: 0 auto;
    @include border-radius(0px 0px 10px 10px);

    table {
      border: 0px;
      table-layout: fixed;
      width: 900px;
      margin: 30px;

      th {
        font-size: 40px;
        font-family: Bebas;
        color: #eee;
        text-align: left;
        padding-left: 5px;
      }
      span {
        color: #eee;
      }

      td {
        vertical-align: top;
        width: 300px;
        margin: 0px;
        padding: 5px;
        div.feed-item + div.feed-item {
          margin-top: 15px;
          padding-top: 15px;
          border-top: 2px solid #696969;
        }
      }
    }

    span.highlight {
      color: $link-colour;
      span {
        font-size: 80%;
      }
    }
  }
}

#postings-hr {
  cursor: pointer;
}

div#lightbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  div#lightbox-header {
    width: 1045px;
    text-align: right;
    cursor: pointer;
    z-index: 50;
    height: 25px;
    margin: 50px auto 0px auto;
    color: #fff;
  }

  div#lightbox-content {
    width: 960px;
    margin: -12px auto 50px auto;
    z-index: 48;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    @include border-radius(5px);
    @include box-shadow(4px 4px 16px rgba(82, 168, 236, 0.6));
    overflow: auto;
  }
}
