ul#main-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 35px;

  li a, span {
    color: #ddd;
    @include bebas;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px 0px 3px 3px;
  }

  > li {
    width: $sidebar-width - 20px;
    position: relative;
    text-align: right;

    &:hover, &:active, &:focus {
      > a, span {
        $shadow: -10px 0px 5px -5px rgba(51, 153, 255, 0.6);
        @include box-shadow($shadow);
        color: #fff;
      }
      cursor: pointer;
      ul.sub-menu { display: block; }
    }

    ul.sub-menu {
      background-color: #222;
      @include background-gradient(#333, #222);
      @include box-shadow(inset 0 -3px 0 rgba(0, 0, 0, 0.1));
      color: #eee;
      z-index: 3;
      margin: 0px;
      display: none;
      position: absolute;
      top: -3px;
      list-style: none;
      text-align: left;
      left: $sidebar-width - 20px;
      padding: 10px;
      @include border-radius(12px);

      li {
        padding: 0px;
        width: 250px;
        position: relative;
        a {
          font-size: 18px;
          display: block;
          padding: 5px 10px;
          &:hover {
            background-color: #324F4F;
            @include border-radius(5px);
          }
        }
      }
    }
  }
}

ul#sub-menu-page {
  padding: 0px;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
}
