* {
  line-height: 1.6em;
}

#controls, #share-this-container, #page-meta  {
  display: none;
}

.f1 { font-family: "Droid Sans", sans-serif; }
.f2 { font-family: Helvetica, sans-serif; }
.f3 { font-family: Petrona, serif; }
.f4 { font-family: "Times New Roman", serif; }
