@mixin gradient($percentage) {
  $base: #f5f5f5;
  @include background-gradient($base, darken($base, $percentage));
}

@media (max-width: 600px) {
  div#bar {
    display: none;
  }

  div#container {
    div#main-container {
      width: 100%;
      background: none;

      div#content {
        margin: 0px;
        width: 100%;
        float: none;

        div#header {
          margin: 0px;
          padding: 0px;
          text-align: left;

          h2, h3 {
            color: #111;
            padding: 10px;
            margin: 0px;
            display: block;
            $shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
            @include box-shadow($shadow);
          }

          h2 {
            font-size: 40px;
            line-height: 40px;
            @include gradient(15%);
          }

          h3 {
            font-size: 25px;
            line-height: 25px;
            @include gradient(25%);
          }
        }

        div#page-content {
          margin: 10px;
          padding: 10px;

          background-color: rgba(0, 0, 0, 0.3);
          @include border-radius(10px);

          /* Misc */
          div#homepage-image, .article-right, .article-left {
            float: none;
            text-align: center;
            margin: 15px auto;
          }
        }
      }

      div#sidebar {
        br { display: none; }
        float: none;
        width: 100%;
        min-height: 0px;
        padding: 0px;
        #first-logo { display: none; }
        #main-menu {
          > li {
            width: 100%;
            text-align: left;
            @include gradient(10%);
            padding-left: 10px;
            a, span {
              color: #111;
              font-size: 14px;
              padding: 0px;
            }

            &:hover, &:active, &:focus {
              ul.sub-menu { display: none; }
            }
          }

          ul.sub-menu {
            position: relative;
            background: none;
            top: auto;
            left: auto;
            margin: 0px;
            @include border-radius(0px);
            li {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
